<!-- search bar -->
<div class="container search-bar">
  <div class="search-bar-outer">
    <div class="search-bar-inner">
      <form action="/search">
        <h4 class="mb-2">尋找餐廳：</h4>
        <div class="input-group">
          <input type="text" name="keyword" class="form-control" placeholder="輸入餐廳、分類" aria-label="Restaurant Name..."
            value="{{keyword}}" aria-describedby="search-button">
          <div class="input-group-append">
            <button class="btn btn-major" type="submit" id="search-button"><i class="fas fa-search"></i></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

{{!-- sort --}}
<div class="container mt-5 d-flex justify-content-end">
  <div class="dropdown ml-3">
    <button class="btn btn-outline-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
      {{#if sortName}}
      {{sortName}}
      {{else}}
      Sort
      {{/if}}
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      {{#if sortOrderName}}
      {{#ifEquals sortOrderName '遞增'}}
      {{#each sortConditions.sortInfos}}
      <a class="dropdown-item" href="/sort/{{this.condition}}/{{this.name}}/1/遞增">{{this.name}}</a>
      {{/each}}
      {{/ifEquals}}
      {{#ifEquals sortOrderName '遞減'}}
      {{#each sortConditions.sortInfos}}
      <a class="dropdown-item" href="/sort/{{this.condition}}/{{this.name}}/-1/遞減">{{this.name}}</a>
      {{/each}}
      {{/ifEquals}}
      {{else}}
      {{#each sortConditions.sortInfos}}
      <a class="dropdown-item" href="/sort/{{this.condition}}/{{this.name}}/1/遞增">{{this.name}}</a>
      {{/each}}
      {{/if}}
    </div>
  </div>

  <div class="dropdown ml-3">
    <button class="btn btn-outline-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
      {{#if sortOrderName}}
      {{sortOrderName}}
      {{else}}
      遞增
      {{/if}}
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      {{#if sortCondition}}
      {{#each sortConditions.sortOrders}}
      <a class="dropdown-item" href="../{{this.order}}/{{this.orderName}}">{{this.orderName}}</a>
      {{/each}}
      {{else}}
      {{#each sortConditions.sortOrders}}
      <a class="dropdown-item" href="/sort/name/名稱/{{this.order}}/{{this.orderName}}">{{this.orderName}}</a>
      {{/each}}
      {{/if}}
    </div>
  </div>
</div>

<!-- restaurant list -->
<div class="container mt-5">
  <div class="row col-md-10 col-12 mx-auto justify-content-center">
    {{!-- <div class="col-md-10 col-12 mx-auto"> --}}
    {{!-- <div class="card-columns"> --}}
    {{#each restaurants}}
    <div class="card col-xl-4 col-lg-5 col-md-5 col-sm-5 col-12">
      <a href="/restaurants/{{this.id}}" class="text-secondary">
        <div class="card mb-3">
          <img class="card-img-top" src="{{this.image}}" alt="{{this.name}}"
            onerror="this.src='https://via.placeholder.com/600x400.png'">
          <div class="card-body p-3">
            <h6 class="card-title mb-1">{{this.name}}</h6>

            <div class="restaurant-category mb-1">
              <i class="fas fa-utensils pr-2"></i> {{this.category}}
            </div>

            <span class="badge badge-pill badge-danger font-weight-normal">
              {{this.rating}}
              <i class="fas fa-star fa-xs"></i>
            </span>
          </div>
          <div class="card-footer d-flex flex-row justify-content-end col-lg-12 col-md-6 col-sm-6 col-12">
            <form action="/restaurants/{{{this.id}}}/?_method=DELETE" method="POST" style="display: inline;"
              onSubmit="if(!confirm('確定刪除？')){return false}">
              <a href="/restaurants/{{this.id}}/edit" class="ml-2 my-1 btn btn-dark btn-sm">Edit</a>
              <a href="/restaurants/{{this.id}}" class="ml-2 my-1 btn btn-info btn-sm">Detail</a>
              <button type="submit" class="ml-2 my-1 btn btn-danger btn-sm">Delete</button>
            </form>
          </div>
        </div>
      </a>
    </div>
    {{/each}}
    {{!-- </div> --}}
    {{!-- </div> --}}
  </div>
</div>